Repository Pong420/docs-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix(): remove files
  .eslintrc.js
  .lintstagedrc
  README.md
  docusaurus.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

fix(): lint
  .lintstagedrc
Due: none

feat(): make it better
  .eslintrc.js
  .internal/screenshot.png
  README.md
  docs/home.md
  docusaurus.config.ts
  eslint.config.js
  package-lock.json
  package.json
  plugin/demo-component.js
  plugin/demo-loader.js
  postcss.config.cjs
  prism.js
  prism.ts
  sidebars.js
  sidebars.ts
  src/components/Demo.tsx
  src/components/DemoOptions.tsx
  src/css/custom.scss
  src/css/fonts.scss
  src/css/footer.scss
  src/css/global.scss
  src/css/markdown.scss
  src/css/search.scss
  src/css/variables.scss
  src/demo/HelloWorld.tsx
  src/pages/.gitkeep
  src/pages/index.tsx
  src/theme/Layout/index.tsx
  static/fonts/brother-1816-book.woff2
  static/fonts/brother-1816-medium.woff2
  static/fonts/brother-1816-regular.woff2
  static/fonts/ibm-plex-mono-regular.woff2
  static/img/favicon.ico
  tsconfig.json
Due: prettier --write, eslint --cache --fix

fix(): make it better
  docusaurus.config.ts
  env.ts
  package-lock.json
  package.json
  plugin/demo-component.ts
  src/css/global.scss
  src/docusaurus.d.ts
Due: prettier --write

feat(): upgrade packages
  .husky/pre-commit
  docusaurus.config.ts
  package-lock.json
  package.json
  src/theme/DocPage/index.js
  src/theme/Footer/Links/MultiColumn/index.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,tsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx,tsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.{md}
